/* font section start */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }



  .raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }


  .raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
  .raleway-exbold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
  }
  /* font section end */





